<%= form_for(@micropost) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="field">
        <%= f.cktext_area :content, :ckeditor => { toolbar: 'pictonly' } , 
            placeholder: 'Compose new micropost...' %>
        <%= f.submit 'post', class: 'btn btn-primary' %>
    </div>
<% end %>